<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<form method="post">
    <label>Enter name: </label>
    <input type="text" name="name" placeholder="Enter pizza name"><br/>
    <label>Enter ingredients: </label>
    <input type="text" name="ingredients" placeholder="Enter ingredients"><br/>
    <label>Enter price: </label>
    <input type="text" name="price" placeholder="Enter price"><br/>
    <input type="submit" value="submit">
    <p><a href="/menu/" class="link">menu</a></p>
    <p><a href="/main_page/" class="link">main page</a></p>
</form>
</body>
</html>